{
  "presets": [
    "es2015"
  ],
  "env": {
    "development": {
      "presets": [
        "env"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 9,
              "uglify": true
            }
          }
        ]
      ],
      "plugins": []
    },
    "test": {
      "presets": ["env"]
    }
  }
}