[submodule "public/past/2019"]
	path = public/past/2019
	url = https://github.com/bangkokrb/rubyconfth-2019.git
[submodule "public/past/2022"]
	path = public/past/2022
	url = https://github.com/bangkokrb/rubyconfth-2022.git
[submodule "public/past/2023"]
	path = public/past/2023
	url = https://github.com/bangkokrb/rubyconfth-2023.git
