body.home .app-content {
  @include media-breakpoint-up('lg') {
    padding-top: rem(50px);
  }

  section {
    padding: 2.5rem 0;
    min-height: rem(400px);

    @include media-breakpoint-up('lg') {
      padding: 3rem 0;
    }

    &:not(:last-of-type) {
      border-bottom: 2px dashed map-get($color-gray, 'lightest');
    }

    h2 {
      font-weight: bold;
    }
  }

  .call-to-action {
    text-align: center;

    &__btn {
      display: inline-block;
      width: 100%;

      margin-top: 2rem;

      @include media-breakpoint-up('md') {
        width: auto;
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
  }

  .schedule,
  .map-venue .call-to-action {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up('lg') {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

body.home .home-speaker {
  .list-speaker--keynote {
    margin-top: 2rem;

    @include media-breakpoint-up('lg') {
      margin-top: 3rem;
    }
  }

  .list-speaker:not(.list-speaker--keynote) {
    margin-bottom: 2rem;

    @include media-breakpoint-up('lg') {
      margin-bottom: 3rem;
    }
  }

  .list-speaker--keynote .list-speaker__item {
    @include media-breakpoint-up('md') {
      &:nth-child(-n + 2) {
        margin-bottom: rem(30px);
      }
    }
  }

  .list-speaker__item {
    @include media-breakpoint-up('md') {
      &:nth-child(-n + 18) {
        margin-bottom: rem(30px);
      }
    }
  }

  .call-to-action__btn {
    @include media-breakpoint-up('md') {
      width: rem(300px);
    }
  }
}

body.home .home-hero {
  background: {
    image: image-url('pages/home/bangkok-illustration.svg');
    repeat: no-repeat;
    position: center top;
    size: 100% auto
  }

  @include media-breakpoint-down('lg') {
    padding-top: rem(250px)!important;
  }

  @include media-breakpoint-up('md') {
    background-size: 50% auto;
  }

  @include media-breakpoint-up('lg') {
    background: {
      position: bottom right;
      size: 54% auto
    }
  }

  &__content {
    @include media-breakpoint-up('lg') {
      @include make-col(7);
    }
  }

  &__heading {
    text-align: center;

    @include media-breakpoint-up('lg') {
      @include font-size(3.25rem);

      text-align: left;
    }
  }

  .call-to-action {
    @include media-breakpoint-up('lg') {
      text-align:left;
    }

    &__btn {
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }
}

body.home .home-speaker {
  &__coming-soon {
    text-align: center;
  }
}

body.home .home-sponsor {
  text-align: center;

  .list-sponsor {
    margin-top: 2rem;

    @include media-breakpoint-up('lg') {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .call-to-action__btn {
    margin-top: 1rem;
  }
}
