body.home .app-content {
  text-align: center;

  h2 {
    border: none;
  }
}

body.home .sponsors {
    
  .list-sponsor {
    justify-content: center;
    padding-left: 0;
  
    @include media-breakpoint-up('sm') {
      margin-inline: auto;
    }
  }

  &.list-sponsor--silver {
    @include media-breakpoint-up('sm') {
      width: 85%
    }
  }
}
