.home .app-hero {
  text-align: center;

  background: {
    image: url('/images/home/hero-background.png');
    repeat: no-repeat;
    position: center;
  }

  @include media-breakpoint-up('md') {
    height: rem(460px);
  }

  .btn {
    margin-top: 2rem;
    font-size: map-get($font-sizes, 'lg');
  }
}

.home .cfp,
.home .sponsors {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 2rem
  }

  @include media-breakpoint-up('md') {
    @include make-col(6);
    @include make-col-offset(3);
  }
}
