<footer class="app-footer">
  <div class="container">
    <div class="app-footer__brand">
      <a href="/" class="logo logo--icon">
        <span class="sr-only">RubyConf TH {💎}</span>
      </a>
      <span class="app-footer__copy">&copy; 2019 Bangkok.rb</span>
    </div>

    <ul class="app-footer__list-link list--unstyled">
      <li class="app-footer__list-link-item">
        <a href="http://confcodeofconduct.com/" target="_blank" class="app-footer__link">Code of Conduct</a>
      </li>
    </ul>
  </div>
</footer>
