<header id="home" class="app-header">
  <div class="container">
    <div class="app-header__event">
      <div class="app-header__logo logo logo--text-icon">
        <span class="sr-only">RubyConf TH {💎}</span>
      </div>

      <div class="app-header__logistic">
        <div class="app-header__date">
          September <strong>6-7, 2019</strong>
        </div>
        <div class="app-header__venue">
          <a href="#venue">Venue: <strong>Pullman Bangkok King Power</strong></a>
        </div>
      </div>
    </div>

    <nav class="app-navigation app-header__navigation">
      <button type="button" class="app-navigation__btn-toggle-menu btn btn--link" data-target="app-navigation__pane">
        <i class="icon-hamburger"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>

      <div class="app-navigation__pane">
        <div class="app-navigation__event">
          <a href="#home" class="app-navigation__logo app-navigation__link">
            <div class="logo logo--icon"><span class="sr-only">{💎}</span></div>
            <div class="logo logo--text"><span class="sr-only">RubyConf TH</span></div>
          </a>
        </div>

        <ul class="app-navigation__menu list--unstyled">
          <li class="app-navigation__menu-item">
            <a href="#about" class="app-navigation__menu-link app-navigation__link">About</a>
          </li>
          <li class="app-navigation__menu-item">
            <a href="#speakers" class="app-navigation__menu-link app-navigation__link">Speakers</a>
          </li>
          <li class="app-navigation__menu-item">
            <a href="#agenda" class="app-navigation__menu-link app-navigation__link">Agenda</a>
          </li>
          <li class="app-navigation__menu-item">
            <a href="#venue" class="app-navigation__menu-link app-navigation__link">Venue</a>
          </li>
          <li class="app-navigation__menu-item">
            <a href="#sponsors" class="app-navigation__menu-link app-navigation__link">Sponsors</a>
          </li>
        </ul>

        <div class="app-navigation__register">
          <a href="https://www.eventpop.me/e/5111-rubyconfth-2019" target="_blank" class="btn btn--primary">Buy Tickets</a>
        </div>

        <hr/>

        {% include list-social-platform.html %}
      </div>
    </nav>

    <div class="app-header__social">
      {% include list-social-platform.html %}
    </div>
  </div>
</header>
