{% capture parent_page_title %}{% if page.parent %}{{ page.parent | capitalize }} | {% endif %}{% endcapture %}
{% capture meta_title %}{{ site.name | append: ' | ' | append: parent_page_title | append: page.title }}{% endcapture %}
{% capture meta_description %}{% if page.seo.description %}{{ page.seo.description }}{% else %}{{ site.seo.description }}{% endif %}{% endcapture %}
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description }}" />

<meta itemprop="name" content="{{ meta_title }}" />
<meta itemprop="description" content="{{ meta_description }}" />
<meta itemprop="image" content="{{ site.seo.image }}" />

<meta property="og:title" content="{{ meta_title }}" />
<meta property="og:description" content="{{ meta_description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.seo.image }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ site.url }}" />
<meta name="twitter:title" content="{{ meta_title }}" />
<meta name="twitter:description" content="{{ meta_description }}" />
<meta name="twitter:image" content="/public/images/social/twitter-icon.png" />

<meta name="apple-mobile-web-app-title" content="{{ site.name }}"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="#1b79ea"/>

<meta name="theme-color" content="#f83548"/>

<meta http-equiv="Page-Enter" content="RevealTrans(Duration=2.0,Transition=2)">
<meta http-equiv="Page-Exit" content="RevealTrans(Duration=3.0,Transition=12)">
<meta http-equiv="cleartype" content="on">

<meta name="msapplication-TileColor" content="#fff" />
<meta name="msapplication-TileImage" content="/public/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/public/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/public/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/public/images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/public/images/favicon/mstile-310x310.png" />

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/images/favicon/apple-icon-144x144.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/images/favicon/apple-icon-152x152.png"/>

<link rel="icon" type="image/png" sizes="192x192"  href="/public/images/favicon/android-icon-192x192.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png"/>
<link rel="icon" type="image/x-icon" href="/public/images/favicon/favicon.ico">

<link rel="manifest" href="/public/manifest.json">

<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans" />

<link rel="stylesheet" href="/assets/stylesheets/application.css" type="text/css"/>
