<header class="app-header">
  <div class="app-header__organizer">
    <a href="https://www.meetup.com/bangkok-rb/" target="_blank" class="app-header__link">Bangkok.rb</a>
  </div>

  <ul class="list-social-plaftorm list--unstyled">
    {% for social_platform in site.data.social_platforms %}
    <li class="list-social-plaftorm__item">
      <a href="{{ social_platform.url }}" target="_blank" class="list-social-plaftorm__link app-header__link">
        {% capture socialIcon %}{{ social_platform.icon | prepend: 'icon-' }}{% endcapture %}
        {% capture className %}{{ social_platform.icon | prepend: 'list-social-plaftorm__icon--' | prepend: ' ' | prepend: 'list-social-plaftorm__icon' | append: ' ' | append: 'icon--xs' }}{% endcapture %}
        {% include icon.svg icon=socialIcon class=className %}
        <span class="sr-only">{{ social_platform.name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</header>
