<ul class="list-speaker list--unstyled">
  {% for keynote_speaker in site.data.speakers.keynote %}
  <li class="list-speaker__item">
    <figure class="list-speaker__profile">
      <img src="{{ keynote_speaker.photo_url }}" alt="Photo of {{ keynote_speaker.first_name }} {{ keynote_speaker.last_name }}" class="list-speaker__photo" />
      <figcaption class="list-speaker__name text-branded">
        <span>{{ keynote_speaker.first_name }}</span> {{ keynote_speaker.last_name }}
      </figcaption>
      <a href="https://twitter.com/{{ keynote_speaker.twitter_handle }}" class="list-speaker__link link link--secondary">{{ keynote_speaker.twitter_handle }}</a>
      <p class="list-speaker__bio">
        {{ keynote_speaker.bio }}
      </p>
    </figure>
  </li>
  {% endfor %}
</ul>
