<div class="map-venue">
  <p>The event will take place in the heart of Bangkok in the conveniently located Pullman Bangkok King Power near Victory Monument. The venue is accessible both by BTS (Victory Monument) and the Airport Link (Phaya Thai).</p>
  <p>First time in Bangkok? Check out <a href="https://lemi.travel/rubyconfth/guide-for-visitors-to-rubyconf-th" title="Guide for visitors to RubyConf TH" target="_blank">our travel guide</a> and <a href="https://docs.google.com/document/d/e/2PACX-1vTMAP2jm6ieRbEL0oxu3pJfYJ0Sd5819pG96QNKx_Wb_JrSEbFM_x5Tg1j4BZZVXG5rt4MOtVJNGhnX/pub" title="Everything you need to know to come to RubyConf TH" target="_blank">A-Z of practicalities</a>.</p>
  <div class="map map-venue__map" data-geolocation="13.75893,100.5352453" data-marker="Pullman Bangkok King Power">
    {% comment %}load map for each locations{% endcomment %}
  </div>
  <div class="map-venue__direction">
    <address class="map-venue__address">
      <a href="https://www.pullmanbangkokkingpower.com/" class="map-venue__name url fn org" >Pullman Bangkok King Power</a>
      <span class="street-address">8-2 Rang Nam Alley</span>
      <span class="extended-address">Khwaeng Thanon Phaya Thai, Khet Ratchathewi,</span>
      <span class="locality">Bangkok</span>
      <span class="postal-code">10400</span>
    </address>
    <a href="https://goo.gl/maps/vnLpSxt1zzw" target="_blank" class="map-venue__btn btn btn--primary btn--lg">View Map</a>
  </div>
</div>
