<div class="schedule">
  {% for schedule_item in site.data.schedule %}
  <div class="schedule__item">
    <time datetime="{{ schedule_item.date }}" class="schedule__date">
      <span class="schedule__month">{{ schedule_item.month_short }}</span>
      <span class="schedule__day-of-month">{{ schedule_item.day_of_month }}</span>
    </time>
    <div class="schedule__day">
      <h3 class="schedule__title">{{ schedule_item.day_name }}</h3>

      <ul class="schedule__list-event">
        {% for event_item in schedule_item.events %}
        <li class="schedule__event">
          <time class="schedule__time-slot">{{ event_item.time }}</time>
          {% if event_item.speaker %}
          <figure class="schedule__event-details">
            <img src="{{ event_item.speaker.photo_url }}" alt="Photo of {{ event_item.speaker.name }}" class="schedule__speaker-photo">
            <figcaption class="schedule__talk-details">
              <div class="schedule__talk-title">{{ event_item.title }}</div>
              <small class="schedule__speaker-name">{{ event_item.speaker.name }}</small>
            </figcaption>
          </figure>
          {% else %}
          <div class="schedule__event-title">{{ event_item.title }}</div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
  {% endfor %}
</div>
