// Base

$color-brand: (
  primary: #f83548
);

$color-gray: (
  primary: #2c2d30,
  dark: #211f21,
  light: #c0c0c0,
  lightest: #f0f0f
);

// Typography

$font-sizes: (
  default: 1rem,
  sm: 0.875rem,
  lg: 1.125rem,
  xl: 1.375rem
);

$base-font-size: map-get($font-sizes, 'default');
$base-font-family: 'Work Sans', -apple-system, 'Segoe UI', sans-serif;
$base-line-height: 1.7;
$base-font-color: map-get($color-gray, 'primary');

// Z-index

$zIndex: (
  default: 1,
  behind: -1,
  high: 5,
  higher: 100,
  highest: 1000,
  sky: 10000
);

// Animations

$base-animation-duration: 300ms;
$base-animation-timing: linear;

// Layout

$app-navigation-lg-width: 154px;

/////////////////////////////
// Bootstrap Customization //
/////////////////////////////

$primary: map-get($color-brand, 'primary');
$secondary: map-get($color-gray, 'light');

$body-color: $base-font-color;

// Buttons

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
