<!doctype html>
<html lang="{{ site.locale }}" class="layout-default layout-default--home">
  <head>
    {% render "head", metadata: site.metadata, title: resource.data.title %}

    <link rel="stylesheet" href="{% asset_path stylesheets/application.scss %}" type="text/css"/>
    <script src="{% asset_path javascript/application.js %}" defer></script>

    {% if bridgetown.environment == "production" %}
      {% render "analytics" %}
    {% endif %}

    {% live_reload_dev_js %}
  </head>
  <body class="{{ resource.data.page_class }}">
    <div hidden>
      {% render "icon_sprite" %}
    </div>

    {% render "header", menu_items: site.data.menu.header, social_platforms: site.data.social_platforms %}

    <div class="app-hero">
      <div class="container">
        <div class="app-hero__heading display-3"><span class="app-hero__text">October 6-7, 2023</span></div>
        <small class="app-hero__subheading"><span class="app-hero__text">Novotel Sukhumvit 20 - Bangkok, Thailand</span></small>
      </div>
    </div>

    <main class="app-content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    <div class="mailing-list">
      <div class="container">
        <h3>Join our mailing list</h3>
        <p class="mailing-list__text">Sign up to receive updates about the event</p>
        {% render "form_mailing_list" %}
      </div>
    </div>

    {% render "footer", metadata: site.metadata, social_platforms: site.data.social_platforms %}
  </body>
</html>
