.app-footer__mailing-list {
  padding: 2rem;

  color: $white;
  text-align: center;

  background-color: black;

  &__text {
    padding: 0 2rem;

    @include media-breakpoint-up('md') {
      padding: 0;
    }
  }

  .form-mailing-list {
    @include media-breakpoint-up('md') {
      @include make-col(6);
      @include make-col-offset(3);
    }
  }

  .form-mailing-list .form__control {
    font-size: map-get($font-sizes, 'xs');

    @include media-breakpoint-up('sm') {
      font-size: map-get($font-sizes, 'sm');
    }

    @include media-breakpoint-up('lg') {
      font-size: map-get($font-sizes, 'lg');
    }
  }
}

.app-footer__social-platform {
  padding-block: 1rem;
  text-align: center;

  @include media-breakpoint-up('sm') {
    padding-block: 2.5rem;
  }

  .list-social-platform {
    display: flex;
    justify-content: center;
  }
}

.app-footer__footnote {
  padding-bottom: 2rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
