.app-hero {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  background-color: $black;

  &__heading {
    font-weight: 500;
  }

  &__subheading {
    font-size: map-get($font-sizes, 'lg');
  }

  &,
  a {
    color: $white;
  }
}
