.list-sponsor {
  @include make-row();

  &__company {
    @include make-col-ready();
    @include make-col(4);

    &:not(:nth-child(-n+3)) {
      margin-top: 1rem;
    }
  }

  &__link {
    display: block;
    position: relative;
  }

  &__logo {
    max-width: 100%;
  }
}
