.list-sponsor {
  @include make-row();

  &__company {
    @include make-col-ready();
    @include make-col(4);

    display: flex;
    justify-content: center;

    padding-top: 1rem;
    padding-bottom: 1rem;

    //silver row only has two smaller items
    &:nth-child(4),&:nth-child(5) {
      @include make-col(6);
      @include make-col-offset(1.5);
      .list-sponsor__logo {
        width: 75%;
      }
    }
  }
  

  &__link {
    display: block;
    width:100%;
  }

  &__logo {
    max-width: 100%;
  }

  & + & {
    margin-top: 2rem;
  }
}


.list-sponsor--with-info {

  .list-sponsor__company {
    @include make-row();
    @include make-col(12);

    align-items: center;

    &:nth-child(odd) {
      background: rgb(0 0 0 / 5%);
    }
  }

  .list-sponsor__link,
  .list-sponsor__info {
    @include make-col-ready();
  }

  .list-sponsor__link { 
    text-align: center;
    @include make-col(12);

    @include media-breakpoint-up('sm') {
      @include make-col(4);
    }
  }

  .list-sponsor__info {
    @include make-col(12);
    
    margin-bottom: 0;
    text-align: center;

    @include media-breakpoint-up('sm') {
      @include make-col(8);

      text-align: left;
    }
  }
}
