.layout-default .app-header,
.layout-default .app-content,
.layout-default .app-footer {
  > .container {
    @include make-container();
    @include make-container-max-widths();
  }
}

.layout-default .app-header,
.layout-default .app-content,
.layout-default .app-footer {
  > .container {
    position: relative;

    @include media-breakpoint-up('lg') {
      padding-left: $app-navigation-lg-width + $grid-gutter-width;
    }
  }
}

.layout-default .app-header {
  padding-top: rem(24px);
  padding-bottom: rem(24px);

  @include media-breakpoint-up('lg') {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
  }
}

.layout-default .app-content {
  min-height: rem(400px);
}


.layout-default .app-footer {
  padding-top: rem(40px);
  padding-bottom: rem(40px);
}