.layout-default body {
  display: grid;
  grid-template-rows: rem(92px) 1fr rem(60px);

  min-height: 100vh;
}

.layout-default .app-header,
.layout-default .app-content,
.layout-default .app-footer {
  @include make-container();

  @include media-breakpoint-up('lg') {
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
}

.layout-default .app-header {
  padding-top: rem(30px);
  padding-bottom: rem(30px);
}
