.list-sponsor {
  &__title {
    font-weight: 300;
  }

  &__level {
    @include media-breakpoint-up('lg') {
      margin-top: 1rem;
    }
  }

  &__list-company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: rem(30px) 0;
  }

  &__company {
    flex: 50% 1 1;
    margin-bottom: rem(50px);

    &:last-child {
      @include media-breakpoint-down('sm') {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
  }

  &__tag {
    display: block;

    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: map-get($zIndex, 'default');
    transform: translateX(-50%);

    width: auto;
    padding: 0 4px;

    color: #fff;
    font-size: map-get($font-sizes, 'xs');
    text-transform: uppercase;
    white-space: pre;

    background: #f81c49;
  }
}

.list-sponsor__list-company {
  &--ruby .list-sponsor__company:last-child {
    margin-bottom: 0;
  }

  &--gold .list-sponsor__company {
    &:nth-child(-n+2) {
      @include media-breakpoint-up('md') {
        margin-bottom: rem(75px);
      }
    }

    &:last-child {
      @include media-breakpoint-up('md') {
        margin-bottom: 0;
      }
    }
  }

  &--speaker .list-sponsor__company {
    margin-bottom: rem(40px);

    @include media-breakpoint-up('md') {
      flex: 33% 1 1;
    }

    &:last-child,
    &:nth-last-child(2) {
      @include media-breakpoint-down('sm') {
        margin-bottom: 0;
      }
    }

    &:last-child {
      @include media-breakpoint-up('md') {
        margin-bottom: 0;
      }
    }
  }

  &--partner .list-sponsor__company {
    margin-bottom: rem(40px);

    @include media-breakpoint-up('md') {
      flex: 25% 1 1;
    }
  }
}
