.list-sponsor {
  &__title {
    font-weight: 300;
  }

  &__level {
    margin-top: 1rem;
  }

  &__list-company {
    padding: rem(30px) 0;
  }

  &__company {
    margin-bottom: rem(30px);

    @include media-breakpoint-up('lg') {
      margin-bottom: 0;
    }
  }
}
