.list-sponsor {
  &__title {
    font-weight: 300;
  }

  &__level {
    @include media-breakpoint-up('lg') {
      margin-top: 1rem;
    }
  }

  &__list-company {
    padding: rem(30px) 0;
  }

  &__company {
    margin-bottom: rem(30px);

    @include media-breakpoint-up('lg') {
      margin-bottom: 0;
    }
  }
}

.list-sponsor__list-company {
  &--gold {
    @include media-breakpoint-up('md') {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .list-sponsor__company {
        @include media-breakpoint-up('md') {
          flex: 50% 1 1;
        }

        @include media-breakpoint-up('lg') {
          margin-bottom: rem(30px);
        }
      }
    }
  }

  &--speaker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .list-sponsor__company {
      flex: 50% 1 1;

      margin-bottom: rem(30px);

      @include media-breakpoint-up('md') {
        flex: 33% 1 1;
      }
    }
  }

  &--partner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .list-sponsor__company {
      flex: 50% 1 1;

      @include media-breakpoint-up('md') {
        flex: 25% 1 1;
      }

      @include media-breakpoint-up('lg') {
        flex: auto 1 1;
      }
    }
  }
}
