.map {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Apply the primary colours of maps for a blend-in effect
  background-color: #e8e8e8;

  // Static maps redirects the search result page on Google map
  cursor: pointer;
}
