.schedule {
  @include media-breakpoint-up('md'){
    @include make-row();
  }

  &__item {
    display: flex;

    @include media-breakpoint-up('md') {
      @include make-col-ready();
      @include make-col(6);
    }

    &:not(:first-child) {
      margin-top: rem(32px);

      @include media-breakpoint-up('md') {
        margin-top: 0;
      }
    }
  }
}

.schedule__date {
  flex: 80px 0 0;

  font-weight: bold;
  text-transform: uppercase;

  @include media-breakpoint-only('md') {
    flex: 50px 0 0;
  }

  .schedule__month,
  .schedule__day-of-week {
    display: block;
  }

  .schedule__month {
    font-size: rem(26px);
  }

  .schedule__day-of-month {
    font-size: rem(80px);
    line-height: 1;
  }
}

.schedule__day {
  position: relative;

  @include media-breakpoint-up('md'){
    margin-left: 20px;
  }

  // Thin gray line
  &::before {
    content: '';
    position: absolute;
    left: 0;

    width: 1px;
    height: 100%;

    background: map-get($color-gray, 'lightest');
  }

  .schedule__title {
    margin-bottom: 1rem;

    font-weight: bold;
    text-indent: 40px;
  }
}

.schedule__list-event {
  @include list-unstyled();

  margin-bottom: 0;

  .schedule__event {
    position: relative;

    padding: 0 0 20px 40px;

    // Red dot on the thin gray line
    &::before {
      content: '';
      position: absolute;
      left: -3px;
      top: 12px;

      width: 7px;
      height: 7px;

      border-radius: 50%;
      background: map-get($color-brand, 'primary');
    }
  }

  .schedule__time-slot {
    position: relative;
    padding-right: 1rem;

    font-weight: bold;
  }

  .schedule__event-details {
    display: flex;
    margin: 10px 0 0;
  }

  .schedule__speaker-photo {
    width: rem(50px);
    height: rem(50px);
    flex-shrink: 0;

    border-radius: 50%;
  }

  .schedule__talk-details {
    margin-left: 1rem;
  }

  .schedule__talk-title {
    line-height: 1.5;
    font-weight: 600;
    font-size: rem(15px);
  }
}
