.layout-default {
  
  .app-header {
    display: flex;
    align-items: center;

    height: rem(120px);
  }

  .app-hero {
    margin-bottom: 1.5rem;

    @include media-breakpoint-up('md') {
      margin-bottom: 3rem;
    }
  }

  .app-content {
    min-height: rem(400px);

    &__text {
      padding: 1.5rem 0;

      @include media-breakpoint-up('md') {
        padding: 3rem 0;
      }
    }
  }
}

.layout-default .app-hero ~ .app-content__text {
  padding-top: 0;
}
