.layout-default .app-header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: rem(120px);
}

.layout-default .app-hero {
  margin-bottom: 1rem;

  @include media-breakpoint-up('md') {
    margin-bottom: 2rem;
  }
}

.layout-default .app-content {
  min-height: rem(400px);
}
