<footer class="app-footer">
  <section class="app-footer__social-platform">
    <div class="container">
      <h3>Follow us</h3>
      {% render "list_social_platform", social_platforms: social_platforms %}
    </div>
  </section>

  <div class="app-footer__footnote">
    <div class="container">
      <div class="app-footer__legal">
        &copy; Bangkok.rb
      </div>
      <div class="app-footer__community">
        Built with <a href="https://www.ruby-lang.org/en/">Ruby</a> & <a href="https://www.bridgetownrb.com/">Bridgetown</a>
      </div>
      <div class="app-footer__link">
        Past events: <a href="/past/2022/">2022</a> - <a href="/past/2019/">2019</a>
      </div>
    </div>
  </div>
</footer>
