body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

hr {
  margin: 2rem 0;
  border: 2px dashed map-get($color-gray, 'lightest');
}